.about-section {
  display: flex;
  align-items: center;
  min-height: 1092px;
  @include sp {
    min-height: 2400px;
  }
}
.about-item {
  text-align: center;
  &__icon {
    border-radius: 50%;
    width: 182px;
    height: 182px;
    background: rgba(#87949e, .15);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 86px;
    @include sp {
      margin-bottom: 40px;
    }
    &:hover {
      background: #17daa3;
    }
  }
  &__title {
    font-size: 30px;
    margin-bottom: 45px;
    color: #000000;
    @include sp {
      margin-bottom: 45px;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 30px;
  }
}
.heading-item__text {
  margin-bottom: 100px;
  @include sp {
    margin-bottom: 86px;
  }
}
.btn-wrapper {
  text-align: center;
  margin-top: 117px;
  @include sp {
    margin-top: 78px;
  }
}
