.photo-section {
  background: url(/imgs/photo-section-bg.png) center/cover;
  overflow: hidden;
  min-height: 700px;
  display: flex;
  align-items: center;
  @include sp {
    text-align: center;
    min-height: 350px;
  }
}
