.unit-1 {
  color: #576671;
  @include sp {
    text-align: center;
  }
  &--mac {
    position: relative;
    bottom: 80px;
    @include sp {
      position: static;
    }
  }
  &--white {
    color: white;
  }
  &__title {
    font-size: 60px;
    line-height: 96px;
    letter-spacing: 0.025;
    margin-bottom: 72px;
    @include sp {
      font-size: 40px;
      margin-bottom: 38px;
      line-height: 48px;
    }
  }
  &__text {
    line-height: 36px;
    margin-bottom: 74px;
    @include sp {
      margin-bottom: 60px;
    }
  }
}

