.row {
  display: flex;
  flex-wrap: wrap;
  margin: -39px;
  &--align-right {
    justify-content: flex-end;
  }
}

.col {
  padding: 39px;
  box-sizing: border-box;
  @for $i from 1 through 12 {
    &--#{$i} {
      width: $i / 12 * 100%;
    }
  }
  @include sp {
    width: 100%;
  }
}

