.row {
  display: flex;
  flex-wrap: wrap;
  margin: -37px;
  &--align-right {
    justify-content: flex-end;
  }
}
.col {
  width: 25%;
  padding: 37px;
  box-sizing: border-box;
  @include sp {
  width: 100%;
  }
}
