#about
  section.about-section
    .container
      .heading-item
          .heading-item__title About us
          .heading-item__text Nam varius accumsan elementum. Aliquam fermentum eros in suscipit scelerisque.
      .row
        .col.col--3
          .about-item
            figure.about-item__icon
              a(href='')
                img(src='/imgs/about-icon-1.png', alt='')
            h2.about-item__title Lorem ipsum
            p.about-item__text Nam varius accumsan elementum. Aliquam fermentum eros in suscipit scelerisque.
        .col.col--3
          .about-item
            figure.about-item__icon
              a(href='')
                img(src='/imgs/about-icon-2.png', alt='')
            h2.about-item__title Lorem ipsum
            p.about-item__text Nam varius accumsan elementum. Aliquam fermentum eros in suscipit scelerisque.
        .col.col--3
          .about-item
            figure.about-item__icon
              a(href='')
                img(src='/imgs/about-icon-3.png', alt='')
            h2.about-item__title Lorem ipsum
            p.about-item__text Nam varius accumsan elementum. Aliquam fermentum eros in suscipit scelerisque.
        .col.col--3
          .about-item
            figure.about-item__icon
              a(href='')
                img(src='/imgs/about-icon-4.png', alt='')
            h2.about-item__title Lorem ipsum
            p.about-item__text Nam varius accumsan elementum. Aliquam fermentum eros in suscipit scelerisque.
      .btn-wrapper
        a(href='').btn Learn More
