#about
  section.section
    .container
      h2 About Us

      .row
        .col
          .about-item
            figure.about-item__icon
              a(href='')
                img(src='/imgs/about-icon-1.png', alt='')
            h2.about-item__title Lorem ipsum
            p.about-item__text Nam varius accumsan elementum. Aliquam fermentum eros in suscip
        .col
          .about-item
            figure.about-item__icon
              a(href='')
                img(src='/imgs/about-icon-2.png', alt='')
            h2.about-item__title Lorem ipsum
            p.about-item__text Nam varius accumsan elementum. Aliquam fermentum eros in suscip
        .col
          .about-item
            figure.about-item__icon
              a(href='')
                img(src='/imgs/about-icon-3.png', alt='')
            h2.about-item__title Lorem ipsum
            p.about-item__text Nam varius accumsan elementum. Aliquam fermentum eros in suscip
        .col
          .about-item
            figure.about-item__icon
              a(href='')
                img(src='/imgs/about-icon-4.png', alt='')
            h2.about-item__title Lorem ipsum
            p.about-item__text Nam varius accumsan elementum. Aliquam fermentum eros in suscip

            a.btn Learn More
