section.hero-photo
  .container
    .js-carousel
      .hero-item
        h2.hero-item__title <span style="font-weight:bold;">Alecto</span> is simple PSD Template
        p.hero-item__text <span id='ityped'></span>
        a.btn.btn--transparent Learn more
      .hero-item
        h2.hero-item__title <span style="font-weight:bold;">Alecto</span> is simple PSD Template
        p.hero-item__text Nam varius accumsan elementum aliquam
        a.btn.btn--transparent Learn more
      .hero-item
        h2.hero-item__title <span style="font-weight:bold;">Alecto</span> is simple PSD Template
        p.hero-item__text Nam varius accumsan elementum aliquam
        a.btn.btn--transparent Learn more
      .hero-item
        h2.hero-item__title <span style="font-weight:bold;">Alecto</span> is simple PSD Template
        p.hero-item__text Nam varius accumsan elementum aliquam
        a.btn.btn--transparent Learn more
      .hero-item
        h2.hero-item__title <span style="font-weight:bold;">Alecto</span> is simple PSD Template
        p.hero-item__text Nam varius accumsan elementum aliquam
        a.btn.btn--transparent Learn more
    figure.hero-scroll
      a(href='#about')
        img(src='/imgs/down-arrow.png', alt='')
