section.mac-section
  .container
    .row
      .col.col--6
        .unit-1.unit-1--mac
          h2.unit-1__title Dolor sit amet
          p.unit-1__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum augue sed est porttitor, ac blandit nisl posuere. Pellentesque hendrerit suscipit mi eu lobortis. Curabitur consectetur enim id elementum accumsan. Quisque metus purus, iaculis id tincidunt non, blandit quis sapien.
          a(href='').btn Learn more
      .col.col--6
        .hand-item
          .animated(data-scroll='once toggle(.fadeInUp, .invisible) addHeight')
            img(src='./imgs/mac-hand.png' alt='')


