section.opinions-photo
  .container
    .opinions__arrow.opinions__arrow--next
      img(src='./imgs/next-arrow.png' alt='')
    .opinions__arrow.opinions__arrow--prev
      img(src='./imgs/prev-arrow.png' alt='')
    .js-opinions-carousel
      .opinions-item
        .opinions-item__icon
          img(src='./imgs/opinions-icon.png' alt='')
        h2.opinions-item__title <span style='color:#108d69;'>Alecto</span> lorem ipsum dolor sit amet,<br class='sp_br'> consectetur adipiscing elit.
        p.opinions-item__text  Adam Czajkowski, CEO&Founder at symu.co
      .opinions-item
        .opinions-item__icon
          img(src='./imgs/opinions-icon.png' alt='')
        h2.opinions-item__title <span style='color:#108d69;'>Alecto</span> lorem ipsum dolor sit amet,<br class='sp_br'> consectetur adipiscing elit.
        p.opinions-item__text  Adam Czajkowski, CEO&Founder at symu.co
      .opinions-item
        .opinions-item__icon
          img(src='./imgs/opinions-icon.png' alt='')
        h2.opinions-item__title <span style='color:#108d69;'>Alecto</span> lorem ipsum dolor sit amet,<br class='sp_br'> consectetur adipiscing elit.
        p.opinions-item__text  Adam Czajkowski, CEO&Founder at symu.co
      .opinions-item
        .opinions-item__icon
          img(src='./imgs/opinions-icon.png' alt='')
        h2.opinions-item__title <span style='color:#108d69;'>Alecto</span> lorem ipsum dolor sit amet,<br class='sp_br'> consectetur adipiscing elit.
        p.opinions-item__text  Adam Czajkowski, CEO&Founder at symu.co
      .opinions-item
        .opinions-item__icon
          img(src='./imgs/opinions-icon.png' alt='')
        h2.opinions-item__title <span style='color:#108d69;'>Alecto</span> lorem ipsum dolor sit amet,<br class='sp_br'> consectetur adipiscing elit.
        p.opinions-item__text  Adam Czajkowski, CEO&Founder at symu.co
