section.photo-section
  .container
    .row.row--align-right
      .col.col--6
        .unit-1.unit-1--white
          h2.unit-1__title Lorem ipsum
          p.unit-1__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum augue sed est porttitor, ac blandit nisl posuere. Pellentesque hendrerit suscipit mi eu lobortis. Curabitur consectetur enim id elementum accumsan. Quisque metus purus, iaculis id tincidunt non, blandit quis sapien.
          a(href='').btn Learn more
