section.pricing-section
  .container
    .heading-item
      h2.heading-item__title Pricing
      p.heading-item__text Nam varius accumsan elementum. Aliquam fermentum eros in suscipit scelerisque.
    .row
      .col.col--3
        .animated(data-scroll='once toggle(.fadeInUp, .invisible) addHeight')
          .pricing-item
            .pricing-item__title
              img(src='/imgs/$29.png' alt='')
            h2.pricing-item__subtitle Lorem ipsum license
            p.pricing-item__text Lorem ipsum dolor sit amet<br>consectetur adipiscing elit<br>Ante sed interdum labortis<br>Est nisi efficitur lactus
            a(href='').pricing-item__purchase <span style="font-weight:bold;">P U R C H A S E</span>
              img(src='/imgs/purchase-icon.png' alt='')
      .col.col--3
        .animated(data-scroll='once toggle(.fadeInUp, .invisible) addHeight')
          .pricing-item
            .pricing-item__title
              img(src='/imgs/$39.png' alt='')
            h2.pricing-item__subtitle Lorem ipsum license
            p.pricing-item__text Lorem ipsum dolor sit amet<br>consectetur adipiscing elit<br>Ante sed interdum labortis<br>Est nisi efficitur lactus
            a(href='').pricing-item__purchase <span style="font-weight:bold;">P U R C H A S E</span>
              img(src='/imgs/purchase-icon.png' alt='')
      .col.col--3
        .animated(data-scroll='once toggle(.fadeInUp, .invisible) addHeight')
          .pricing-item
            .pricing-item__title
              img(src='/imgs/$49.png' alt='')
            h2.pricing-item__subtitle Lorem ipsum license
            p.pricing-item__text Lorem ipsum dolor sit amet<br>consectetur adipiscing elit<br>Ante sed interdum labortis<br>Est nisi efficitur lactus
            a(href='').pricing-item__purchase <span style="font-weight:bold;">P U R C H A S E</span>
              img(src='/imgs/purchase-icon.png' alt='')
      .col.col--3
        .animated(data-scroll='once toggle(.fadeInUp, .invisible) addHeight')
          .pricing-item
            .pricing-item__title
              img(src='/imgs/$109.png' alt='')
            h2.pricing-item__subtitle Lorem ipsum license
            p.pricing-item__text Lorem ipsum dolor sit amet<br>consectetur adipiscing elit<br>Ante sed interdum labortis<br>Est nisi efficitur lactus
            a(href='').pricing-item__purchase P U R C H A S E
              img(src='/imgs/purchase-icon.png' alt='')
