#service
  section.service-section
    .container
      .heading-item
        .heading-item__title Our Services
        .heading-item__text Nam varius accumsan elementum. Aliquam fermentum eros in suscipit scelerisque.
      .row
        .col.col--6
          .service-item
            .service-item__icon
              img(src='./imgs/portfolio.png' alt='')
            h2.service-item__title Portfolio
            p.service-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque <br>elementum augue sed est porttitor, ac blandit nisl posuere.
        .col.col--6
          .service-item
            .service-item__icon
              img(src='./imgs/design.png' alt='')
            h2.service-item__title Design
            p.service-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque <br>elementum augue sed est porttitor, ac blandit nisl posuere.
        .col.col--6
          .service-item
            .service-item__icon
              img(src='./imgs/branding.png' alt='')
            h2.service-item__title Branding
            p.service-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque <br>elementum augue sed est porttitor, ac blandit nisl posuere.
        .col.col--6
          .service-item
            .service-item__icon
              img(src='./imgs/development.png' alt='')
            h2.service-item__title Development
            p.service-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque <br>elementum augue sed est porttitor, ac blandit nisl posuere.
