.team-section
  .container
    .heading-item
      h2.heading-item__title Meet our team
      p.heading-item__text Nam varius accumsan elementum. Aliquam fermentum eros in suscipit scelerisque.
  .team-container
    .team-section__row
      .team-section__col
        .team-section__photo
          img(src='./imgs/team-1.png', alt='')
          .team-section__mask
            p.team-section__name John Doe
      .team-section__col
        .team-section__photo
          img(src='./imgs/team-2.png', alt='')
          .team-section__mask
            p.team-section__name John Doe
      .team-section__col
        .team-section__photo
          img(src='./imgs/team-3.png', alt='')
          .team-section__mask
            p.team-section__name John Doe
      .team-section__col
        .team-section__photo
          img(src='./imgs/team-4.png', alt='')
          .team-section__mask
            p.team-section__name John Doe
      .team-section__col
        .team-section__photo
          img(src='./imgs/team-5.png', alt='')
          .team-section__mask
            p.team-section__name John Doe
      .team-section__col
        .team-section__photo
          img(src='./imgs/team-6.png', alt='')
          .team-section__mask
            p.team-section__name John Doe
      .team-section__col
        .team-section__photo
          img(src='./imgs/team-7.png', alt='')
          .team-section__mask
            p.team-section__name John Doe
      .team-section__col
        .team-section__photo
          img(src='./imgs/team-8.png', alt='')
          .team-section__mask
            p.team-section__name John Doe
      .team-section__col
        .team-section__photo
          img(src='./imgs/team-9.png', alt='')
          .team-section__mask
            p.team-section__name John Doe
      .team-section__col
        .team-section__photo
          img(src='./imgs/team-10.png', alt='')
          .team-section__mask
            p.team-section__name John Doe
