section.try-photo
  .container
    .try-item
      .animated(data-scroll='once toggle(.fadeInUp, .invisible) addHeight')
        h2.try-item__title Try our <span style='font-weight:bold;'>Training</span> on update.jp
      a(href='').btn.btn--try update.jp
