extends /layouts/_base

block variables
  - title = 'TOP Page'

block content
  p Top Page
  .heading-item
    .heading-item__title About us
    .heading-item__text Nam varius accumsan elementum. Aliquam fermentum eros in suscipit scelerisque.
