extends /layouts/_base

block variables
  - title = 'TOP Page'

block content

  include /sections/_about-section
  include /sections/_photo-section

  .demo(style='background: black')
   .btn Learn more
   .btn.btn--transparent Learn more
