extends /layouts/_base

block variables
  - title = 'TOP Page'

block content
  p Top Page
  .heading About us
  .heading-text Nam varius accumsan elementum. Aliquam fermentum eros in suscipit scelerisque.
