extends /layouts/_base

block variables
  - title = 'TOP Page'

block content

  include /sections/_about-section
  include /sections/_photo-section
  include /sections/_mac
  include /sections/_opinions
  include /sections/_service
  include /sections/_team
  include /sections/_pricing
  include /sections/_map
  include /sections/_try
