extends /layouts/_base

block variables
  - title = 'TOP Page'

block content

  include /sections/_opinions
  include /sections/_hero
  include /sections/_about-section
  include /sections/_photo-section
  include /sections/_try

  //- .demo(style='background: black')
  //-  .btn Learn more
  //-  .btn.btn--transparent Learn more
  //- .heading-item
  //-   .heading-item__title About us
  //-   .heading-item__text Nam varius accumsan elementum. Aliquam fermentum eros in suscipit scelerisque.

