footer.footer
  .container
    .footer-wrap
      p.copyright All Rights Reserved by Update
      nav
        ul.footer-nav
          li.footer-nav__item: a(href='') Home
          li.footer-nav__item: a(href='') About
          li.footer-nav__item: a(href='') Work
          li.footer-nav__item: a(href='') Service
          li.footer-nav__item: a(href='') Blog
