header.header
  .hero-photo
    .container
      .header__wrap
        a.header__menu.js-drawer-trg
          img(src='/imgs/header-menu.png' alt='')
        h1.header__logo Update LP
        nav
          ul.header-list
            li.header-list__item: a(href='') HOME
            li.header-list__item: a(href='') ABOUT
            li.header-list__item: a(href='') WORK
            li.header-list__item: a(href='') SERVICES
            li.header-list__item: a(href='') BLOG
            li.header-list__item: a(href='')
              img(src='/imgs/header-icon.png' alt='')
    .container
      .hero-wrap
        .carousel__arrow.carousel__arrow--next
          img(src='/imgs/next-arrow.png' alt='')
        .carousel__arrow.carousel__arrow--prev
          img(src='/imgs/prev-arrow.png' alt='')
        .js-carousel
          .hero-item
            h2.hero-item__title <span style="font-weight:bold;">Alecto</span> is simple PSD Template
            p.hero-item__text <span id='ityped'></span>
            a(href='').btn.btn--transparent Learn more
          .hero-item
            h2.hero-item__title <span style="font-weight:bold;">Alecto</span> is simple PSD Template
            p.hero-item__text Nam varius accumsan elementum aliquam
            a(href='').btn.btn--transparent Learn more
          .hero-item
            h2.hero-item__title <span style="font-weight:bold;">Alecto</span> is simple PSD Template
            p.hero-item__text Nam varius accumsan elementum aliquam
            a(href='').btn.btn--transparent Learn more
          .hero-item
            h2.hero-item__title <span style="font-weight:bold;">Alecto</span> is simple PSD Template
            p.hero-item__text Nam varius accumsan elementum aliquam
            a(href='').btn.btn--transparent Learn more
          .hero-item
            h2.hero-item__title <span style="font-weight:bold;">Alecto</span> is simple PSD Template
            p.hero-item__text Nam varius accumsan elementum aliquam
            a(href='').btn.btn--transparent Learn more
        figure.hero-scroll
          a(href='#about')
            img(src='/imgs/down-arrow.png', alt='')
.js-drawer-back.drawer-back
